a.link{
    text-decoration: underline;
}

a.link:hover{
    color: #64B6AC;
}

.body {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 50px;
}

.center-align {
	text-align: center;
}

#dwight-img {
	width: 600px;
	margin-bottom: 20px;
}

p {
	padding-left: 200px;
	padding-right: 200px;
}

ul {
	list-style-type: none;
	padding-left: 200px;
}

li {
	padding-left: 20px;
}

#important {
	color: #64B6AC;
	font-weight: bold;
}

#listing {
	color: #9D4BEB;
}

